*{  
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    
}
.banner{
    background-image:linear-gradient(to right, rgba(0,0,0,1),rgba(0,0,0,0.5)),url(image/cow-market.jpg);
    
    background-size: cover;
    background-position: center;
    height: 600px;
}
.content{
    padding: 200px 0 0 100px;
    color: white;
    font-weight: 700;

}
.button{
    padding: 10px;
    margin-top: 20px;
    background-image: linear-gradient(red,orange);
}
.parent{
    display: flex;
    margin: 60px;
}
.child{
   padding: 40px;
    
}
.heading{
    padding-top: 20px;
}
.pray-img{
    height: 300px;
}
.content-center{
    text-align: center;
}
.donate-img{
    height: 50px;
    width: 50px;
}
.parent-div{
    display: flex;
    margin:30px 200px;

}
.child-div{

}
.one-child{
    background-color: rgb(235, 190, 108);
    margin: 20px;
    padding:40px 10px;
    border-radius: 10px;
    

}
.pray-flex{
    display: flex;
    justify-content: center;
}
.pray-flex img{
    border-radius: 15px;
    margin: 20px;
}

.take-love{
    display: flex;
    justify-content:center;
}
.child-love{
    width: 300px;
    margin: 10px;
    border: 2px solid gainsboro;
    margin: 20px;
}
.child-love img{
    width: 300px;
}
.child-love h2,
.child-love p{
    padding: 10px;

}
.child-love button{
      margin: 10px;
      padding: 10px;
      border: none;
      border-bottom: 3px solid red;
}
footer{
    background-color: rgb(24, 21, 21);
    color: white;
    font: italic;
    padding: 15px;
}


    