*{  
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    
}
.banner{
    background-image:linear-gradient(to right, rgba(0,0,0,1),rgba(0,0,0,0.5)),url(image/cow-market.jpg);
    
    background-size: cover;
    background-position: center;
    height: 600px;
}
.content{
    padding: 200px 0 0 100px;
    color: white;
    font-weight: 700;

}
.button{
    padding: 10px;
    margin-top: 20px;
    background-image: linear-gradient(red,orange);
}
.parent{
    display: flex;
}
.child{
    margin: 80px;
    
}
.heading{
    padding-top: 20px;
}